@@ -0,0 +1,113 @@
/* This is the syle sheet for the webpages. Change color and
wanted properites in this file */

html {
	margin:0;
	padding:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
}

#navbar {
  overflow: hidden;
  background-color: #707070;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

#navbar a.right {
  float: right;
}

#navbar a:hover {
  background-color: #ccc;
  color: black;
}

#row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
	height: 100%;
}

#side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

#animalListSide {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #F5F5DC;
  padding: 20px;
}

#main {
  /* -ms-flex: 70%;  */
  flex: 70%;
  padding: 20px;
}

#instructions {
  background-color: #D3D3D3;
	overflow: hidden;
  padding: 10px;
	margin:0;
	border:0;
  text-align: center;
  color: Black;
}

#welcomeHeader {
  background-color: white;
	overflow: hidden;
  padding: 10px;
	margin:0;
  text-align: center;
  color: #4f9e8c;
}
